/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
     font-size: 25rem;
     align-self: center;
     text-decoration: underline;
 }

 .manufacturer-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    border-width: 2rem;
    justify-content: space-evenly;
    align-content: center;
    padding: 2rem;
    font-size: 4rem;
    border-radius: 5rem;
    margin: 1rem;
 }

 .manufacturer-deets {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;

 }

 .cars-card {
     display: flex;
     flex-direction: row;
     align-content: center;
 
 }
 
 .car-deets {
     display: flex;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5rem;
    border: solid;
 }

 .manufacturer-cars {
     display: flex;
     flex-wrap: wrap;
     
 }

 .logo-pic {
 align-self: center;
  max-width: 1000px;
  max-height: auto;
    
 }
 
 .car-pic {

     max-width: 1000px;
     max-height: auto;
     
 }



 #stats-box {
     display: flex;
     font-size: 5rem;
     justify-content: center;
     justify-content: space-evenly;
     align-items: center;
     border: solid;
     border-width: 2rem;
     border-radius: 5rem;
     padding: 1rem;
 }

 #city-list {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 #manufacturer-list {
     display: flex;
     flex-direction: column;
    
}

#body-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: darkkhaki;
}
 