<div id="manufacturer-box">
<h1>Tire Tracks</h1>

<% @manufacturers.each do |manufacturer| %>
    <section class="manufacturer-card" id="manufacturer-<%= manufacturer.id %>"
        <ul>
            <li>Name: <%= manufacturer.name %> </li>
            <li>City: <%= manufacturer.city %> </li>
            <li>Year Founded: <%= manufacturer.year_founded %> </li>
        </ul>
    </section>
<% end %>

</div>